@font-face {
    font-family: 'LexieReadable';
    src: url("../font/LexieReadable-Regular.ttf");
}

:root {
    --cor-card-fundo-escuro: #FFFFFF14;
    --cor-card-fundo-claro: #FFFFFF;
    --cor-body-fundo-escuro: #121212;
    --cor-body-fundo-escuro-id-visual: #ef9a9a13;
    --cor-fundo-claro: #F5F5F5;
    --cor-accent: #ef9a9a;
    --cor-texto-fundo-claro: #121212;
    --cor-texto-fundo-escuro-87: #FFFFFFDE;
    --cor-texto-fundo-escuro-60: #FFFFFF99;
}

body {
    color: var(--cor-texto-fundo-escuro-60);
    background-color: var(--cor-body-fundo-escuro);
    font-family: 'LexieReadable', Helvetica, Arial, sans-serif;
    font-size: 1em;
}

h1 {
    color: var(--cor-texto-fundo-escuro-87);
}

h2 {
    color: var(--cor-texto-fundo-escuro-60);
}

main {
    margin: 0 auto;
    max-width: 60rem;
    padding: 1em;
    color: var(--cor-texto-fundo-escuro);
}


/* LINKS COM BASE PARA MENU, PARA LINKS CONVENCIONAIS LEMBRAR DE CRIAR A DECORAÇÃO PADRÃO */

a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
}

a:link {
    color: #7A7A8C;
}

a:visited {
    color: #7A7A8C;
}

a:hover {
    color: #FFFFFF;
    background-color: #E5306F;
}

.texto-gradiente {
    text-transform: uppercase;
    background: linear-gradient(to right, #E5306F 0%, #FF8902 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Destaque no foco  - Alterem conforme suas preferencias */

a:focus {
    border: 2px solid white;
    box-sizing: border-box;
}


/* Skip Link */

[href="#main"] {
    position: absolute;
    top: 0;
    right: 100%;
}

[href="#main"]:focus {
    right: auto;
}